.small-top-margin {
	margin-top:5px !important;
}

#map-canvas {
	width:320px;
	height:320px;
}

.round-image-small{
	height:100px;
	margin-top:50px;
	border: 5px solid #2c3e50;
}

.white-caption-text{
	color:#394e65;
}

.item{
	height: 260px !important;
	background: transparent;
}

.carousel-control.left {
	background-image: none;
}

.carousel-control.right {
	background-image: none;
}

.carousel-control {
	color: #2c3e50;
}

.carousel-indicators li {
	background-color: #394e65;
	border: 1px solid #2c3e50;
}

.intro-message {
	padding-top: 10% !important;
	padding-bottom: 10% !important;
	height: 550px;
}

.intro-header {
	padding-bottom: 0px !important;
}